<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About us</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900&amp;subset=latin-ext" rel="stylesheet">

    <!-- Stylesheet -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="plugin/slicknav/slicknav.min.css" rel="stylesheet">
    <link href="../static/plugin/flexslider/flexslider.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
</head>
<body>

<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Header -->
    <header id="header" class="header header-one clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <div class="site-branding">
                        <div class="wrap">
                            <h1 class="site-title"><a href="index.html" rel="home"><img src="images/logo.png" alt="Antarctica"></a></h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-8 col-lg-9">
                    <div class="navigation-top clearfix">
                        <div class="search-form-wrap">
                            <div id="search-toggle" class="search-toggle"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <form action="#" class="header-search-form">
                               <input type="text" name="s" id="s" value="" placeholder="Search">
                               <input type="submit" id="search-submit" value="Go">
                            </form>
                        </div>
                        <nav id="site-navigation" class="main-navigation">
                            <div class="menu-primary-container">
                                <ul class="menu-primary clearfix">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="sub-header" style="background-image: url('images/about-us-sub-header-bg.jpg');">
        <div class="bg-overlay"></div>
        <div class="container">
            <h1 class="title">We love themes</h1>
            <p class="description">A Digital Creative Agency with a difference</p>
        </div>
    </div>

    <div class="about-us-page">

        <!-- Main Content -->
        <main id="main" class="main">

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus tellus sed sem
                            venenatis scelerisque. In non congue lacus. Proin volutpat mattis volutpat aenean id nunc.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Skills -->
            <section class="our-skills sections">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature-box-2">
                                <h3 class="title text-uppercase">Create since 1984</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id felis consec fermentum lectus sit amet, sollicitudin neque. Nunc tincidunt pulvinar lacus et dignissim. Integer tortor, eleifend et leo nec, vestibulum tempor lorem. </p>
                                <a href="#" class="btn btn-primary btn-outline-black">Discvoer More</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="progress-bars">
                                <div class="progress" data-percentage="79">
                                    <h5 class="title">Graphic Design</h5>
                                    <div class="progress-bar">
                                        <span class="progressed"></span>
                                        <div class="completed"></div>
                                    </div>
                                </div>
                                <div class="progress" data-percentage="95">
                                    <h5 class="title">HTML/CSS</h5>
                                    <div class="progress-bar">
                                        <span class="progressed"></span>
                                        <div class="completed"></div>
                                    </div>
                                </div>
                                <div class="progress" data-percentage="66">
                                    <h5 class="title">Javascript Development</h5>
                                    <div class="progress-bar">
                                        <span class="progressed"></span>
                                        <div class="completed"></div>
                                    </div>
                                </div>
                                <div class="progress" data-percentage="50">
                                    <h5 class="title">PHP</h5>
                                    <div class="progress-bar">
                                        <span class="progressed"></span>
                                        <div class="completed"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Team -->
            <section class="our-team our-team-2 sections">
                <div class="container">
                    <header class="section-header text-center">
                        <h2 class="section-title">Meet the talents</h2>
                        <span class="line-two"><span></span></span>
                    </header>
                    <div class="row">
                        <div class="col-xs-6 col-md-3 col-team-member">
                            <div class="team-member">
                                <img src="images/team/small-1.jpg" alt="Member">
                                <div class="overlay">
                                    <div class="member-info">
                                        <h3 class="title">Cameron Todd</h3>
                                        <p>Ceo Founder</p>
                                    </div>
                                    <div class="social-media">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google"></i></a>
                                        <a href="#"><i class="fa fa-flickr"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3 col-team-member">
                            <div class="team-member">
                                <img src="images/team/small-2.jpg" alt="Member">
                                <div class="overlay">
                                    <div class="member-info">
                                        <h3 class="title">Donnie Brinkmann</h3>
                                        <p>Ceo Founder</p>
                                    </div>
                                    <div class="social-media">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google"></i></a>
                                        <a href="#"><i class="fa fa-flickr"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3 col-team-member">
                            <div class="team-member">
                                <img src="images/team/small-3.jpg" alt="Member">
                                <div class="overlay">
                                    <div class="member-info">
                                        <h3 class="title">Robert Gregory</h3>
                                        <p>Ceo Founder</p>
                                    </div>
                                    <div class="social-media">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google"></i></a>
                                        <a href="#"><i class="fa fa-flickr"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3 col-team-member">
                            <div class="team-member">
                                <img src="images/team/small-4.jpg" alt="Member">
                                <div class="overlay">
                                    <div class="member-info">
                                        <h3 class="title">Tom Harrison</h3>
                                        <p>Ceo Founder</p>
                                    </div>
                                    <div class="social-media">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google"></i></a>
                                        <a href="#"><i class="fa fa-flickr"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Features -->
            <section class="our-features our-features-2 sections">
                <div class="container">
                    <header class="section-header text-center">
                        <h2 class="section-title">Our services</h2>
                        <span class="line-two"><span></span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                    </header>
                </div>
                <div class="features-items">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="feature-item feature-item-2 clearfix">
                                    <div class="feature-img">
                                        <img class="img-responsive" src="images/features/8.png" alt="Image">
                                    </div>
                                    <div class="feature-content">
                                        <h3 class="title">Historical data</h3>
                                        <p>Nam scelerisque velit et neque tin Morbi mollis eu mauris.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="feature-item feature-item-2 clearfix">
                                    <div class="feature-img">
                                        <img class="img-responsive" src="images/features/9.png" alt="Image">
                                    </div>
                                    <div class="feature-content">
                                        <h3 class="title">Powerful statificial</h3>
                                        <p>Nam scelerisque velit et neque tin Morbi mollis eu mauris.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="feature-item feature-item-2 clearfix">
                                    <div class="feature-img">
                                        <img class="img-responsive" src="images/features/10.png" alt="Image">
                                    </div>
                                    <div class="feature-content">
                                        <h3 class="title">Support online</h3>
                                        <p>Nam scelerisque velit et neque tin Morbi mollis eu mauris.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Clients -->
            <section class="our-clients sections section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <div class="single-client">
                                <a href="#"><img src="images/partners/1.jpg" alt="Client"></a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="single-client">
                                <a href="#"><img src="images/partners/2.jpg" alt="Client"></a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="single-client">
                                <a href="#"><img src="images/partners/3.jpg" alt="Client"></a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="single-client">
                                <a href="#"><img src="images/partners/4.jpg" alt="Client"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <div class="single-client">
                                <a href="#"><img src="images/partners/5.jpg" alt="Client"></a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="single-client">
                                <a href="#"><img src="images/partners/6.jpg" alt="Client"></a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="single-client">
                                <a href="#"><img src="images/partners/7.jpg" alt="Client"></a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="single-client">
                                <a href="#"><img src="images/partners/8.jpg" alt="Client"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <!-- Call to Action -->
    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>Like what you see? Buy this theme now and try everything.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn" href="#">Buy Now</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer" class="footer">
        <div class="container">
            <aside class="row footer-widgets">
                <div class="widget-column col-sm-6 col-md-3">
                    <section class="widget widget_text">
                        <h2 class="widget-title">&nbsp;</h2>
                        <div class="textwidget">
                            <div class="footer-logo-widget">
                                <a href="index.html"><img src="images/footer-logo.png" alt=""></a>
                                <p>Integer fermentum trique velit a lacinia.</p>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="widget-column col-sm-6 col-md-3">
                    <section class="widget widget_nav_menu">
                        <h2 class="widget-title">Quick Links</h2>
                        <ul>
                            <li><a href="#">Speciality Services</a></li>
                            <li><a href="#">Sredit Cars</a></li>
                            <li><a href="#">Support Forums</a></li>
                            <li><a href="#">Faqs</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                            <li><a href="#">Financial Planner</a></li>
                            <li><a href="#">Tax Helper</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </section>
                </div>

                <div class="clearfix visible-sm"></div>

                <div class="widget-column col-sm-6 col-md-3">
                    <section class="widget widget_featured_posts">
                        <h2 class="widget-title">Feature Blogs</h2>
                        <ul>
                            <li>
                                <div class="post-thumb">
                                    <a href="#"><img src="images/widget/f-1.jpg" alt="#"></a>
                                </div>
                                <div class="post-content">
                                    <h3 class="post-title"><a href="#">Women Work in Office</a></h3>
                                    <span class="post-date">18 Dec 2017</span>
                                </div>
                            </li>
                            <li>
                                <div class="post-thumb">
                                    <a href="#"><img src="images/widget/f-2.jpg" alt="#"></a>
                                </div>
                                <div class="post-content">
                                    <h3 class="post-title"><a href="#">Women Work in Office</a></h3>
                                    <span class="post-date">18 Dec 2017</span>
                                </div>
                            </li>
                            <li>
                                <div class="post-thumb">
                                    <a href="#"><img src="images/widget/f-3.jpg" alt="#"></a>
                                </div>
                                <div class="post-content">
                                    <h3 class="post-title"><a href="#">Women Work in Office</a></h3>
                                    <span class="post-date">18 Dec 2017</span>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>

                <div class="widget-column col-sm-6 col-md-3">
                    <section class="widget widget_twitter">
                        <h2 class="widget-title">Latest Tweets</h2>
                        <ul>
                            <li>
                                <p>
                                    <a href="#">@Antarctica,</a> Lorem ipsum dolor Sit amet consectetur
                                    <span class="tweet-time">2 hours ago</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="#">@Antarctica,</a> Lorem ipsum dolor Sit amet consectetur
                                    <span class="tweet-time">2 hours ago</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="#">@Antarctica,</a> Lorem ipsum dolor Sit amet consectetur
                                    <span class="tweet-time">2 hours ago</span>
                                </p>
                            </li>
                        </ul>
                    </section>
                </div>
            </aside>
        </div>

        <div class="sub-footer text-center">
            <div class="container">
                <p>Copyright &copy; 2017.Company name All rights reserved.</p>
            </div>
        </div>
    </footer>
</div>

<!-- Required Plugins and Scripts -->
<script src="../static/plugin/jquery-3.1.1.min.js"></script>
<script src="../static/plugin/jquery-migrate.min.js"></script>
<script src="../static/plugin/flexslider/jquery.flexslider-min.js"></script>
<script src="plugin/slicknav/jquery.slicknav.min.js"></script>
<script src="../static/plugin/jquery.waypoints.min.js"></script>
<script src="../static/js/common.js"></script>
</body>
</html>
