<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900&amp;subset=latin-ext" rel="stylesheet">

    <!-- Stylesheet -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="plugin/slicknav/slicknav.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
</head>
<body>

<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Header -->
    <header id="header" class="header clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <div class="site-branding">
                        <div class="wrap">
                            <h1 class="site-title"><a href="index.html" rel="home"><img src="images/logo.png" alt="Antarctica"></a></h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-8 col-lg-9">
                    <div class="navigation-top clearfix">
                        <div class="search-form-wrap">
                            <div id="search-toggle" class="search-toggle"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <form action="#" class="header-search-form">
                               <input type="text" name="s" id="s" value="" placeholder="Search">
                               <input type="submit" id="search-submit" value="Go">
                            </form>
                        </div>
                        <nav id="site-navigation" class="main-navigation">
                            <div class="menu-primary-container">
                                <ul class="menu-primary clearfix">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="sub-header">
        <div class="bg-overlay"></div>
        <div class="container">
            <h1 class="title">Blog</h1>
            <p class="description">we are quite the bloggers</p>
        </div>
    </div>

    <!-- Container -->
    <div class="container main-container blog-page">
        <div class="row">
            <div class="col-md-9">

                <!-- Main Content -->
                <main id="main" class="main">

                    <article class="post-item clearfix format-standard has-post-thumbnail hentry">
                        <div class="post-thumbnail">
                            <a href="single.html"><img class="img-responsive" src="images/blog/1.jpg" alt="Post Thumb"></a>
                        </div>
                        <header class="entry-header">
                            <div class="entry-meta clearfix">
                                <div class="post-cat"><a href="#">Design</a></div>
                                <div class="post-author">
                                    <div class="author-info-wrap">
                                        <h4 class="author-title">Peter Blalock</h4>
                                        <span class="posted-on">October 12, 2016</span>
                                    </div>
                                    <img class="author-image" src="images/blog/a-1.jpg" alt="Peter Blalock">
                                </div>
                            </div>
                            <h2 class="entry-title"><a href="single.html" rel="bookmark">Talking About Architectures</a></h2>
                        </header>
                        <div class="entry-summary clearfix">
                            <p>Sed gravida congue elit, ac vehicula ex facilisis ac. Etiam faucibus eros in eros rhoncus, id condimentum lacus semper. Pellentesque in ligula et leo fringilla maximus. Proin odio orci, mollis ut arcu vel, bibendum euismod mi. Nulla maximus feugiat lorem, vel mattis risus fermentum at. Nulla facilisi. Donec eget metus id massa iaculis porttitor non sed justo.</p>
                        </div>
                        <a href="single.html" class="btn btn-default single-post-link">Continue Reading <i class="fa fa-long-arrow-right"></i></a>
                        <span class="share-this-post">
                            Share this:
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-vimeo"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </span>
                    </article>

                    <article class="post-item clearfix format-image has-post-thumbnail hentry">
                        <div class="post-thumbnail">
                            <a href="single.html"><img class="img-responsive" src="images/blog/2.jpg" alt="Post Thumb"></a>
                        </div>
                        <header class="entry-header">
                            <div class="entry-meta clearfix">
                                <div class="post-cat"><a href="#">Work</a></div>
                                <div class="post-author">
                                    <div class="author-info-wrap">
                                        <h4 class="author-title">Isiah Mathis</h4>
                                        <span class="posted-on">October 12, 2016</span>
                                    </div>
                                    <img class="author-image" src="images/blog/a-1.jpg" alt="Peter Blalock">
                                </div>
                            </div>
                            <h2 class="entry-title"><a href="single.html" rel="bookmark">Women Work in Office</a></h2>
                        </header>
                        <div class="entry-summary clearfix">
                            <p>Sed gravida congue elit, ac vehicula ex facilisis ac. Etiam faucibus eros in eros rhoncus, id condimentum lacus semper. Pellentesque in ligula et leo fringilla maximus. Proin odio orci, mollis ut arcu vel, bibendum euismod mi. Nulla maximus feugiat lorem, vel mattis risus fermentum at. Nulla facilisi. Donec eget metus id massa iaculis porttitor non sed justo.</p>
                        </div>
                        <a href="single.html" class="btn btn-default single-post-link">Continue Reading <i class="fa fa-long-arrow-right"></i></a>
                        <span class="share-this-post">
                            Share this:
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-vimeo"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </span>
                    </article>

                    <article class="post-item clearfix format-video has-post-thumbnail hentry">
                        <div class="post-thumbnail">
                            <a href="single.html"><img class="img-responsive" src="images/blog/3.jpg" alt="Post Thumb"></a>
                        </div>
                        <header class="entry-header">
                            <div class="entry-meta clearfix">
                                <div class="post-cat"><a href="#">commercial</a></div>
                                <div class="post-author">
                                    <div class="author-info-wrap">
                                        <h4 class="author-title">Kerri Valadez</h4>
                                        <span class="posted-on">October 12, 2016</span>
                                    </div>
                                    <img class="author-image" src="images/blog/a-1.jpg" alt="Peter Blalock">
                                </div>
                            </div>
                            <h2 class="entry-title"><a href="single.html" rel="bookmark">Man Drawing</a></h2>
                        </header>
                        <div class="entry-summary clearfix">
                            <p>Sed gravida congue elit, ac vehicula ex facilisis ac. Etiam faucibus eros in eros rhoncus, id condimentum lacus semper. Pellentesque in ligula et leo fringilla maximus. Proin odio orci, mollis ut arcu vel, bibendum euismod mi. Nulla maximus feugiat lorem, vel mattis risus fermentum at. Nulla facilisi. Donec eget metus id massa iaculis porttitor non sed justo.</p>
                        </div>
                        <a href="single.html" class="btn btn-default single-post-link">Continue Reading <i class="fa fa-long-arrow-right"></i></a>
                        <span class="share-this-post">
                            Share this:
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-vimeo"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </span>
                    </article>

                    <article class="post-item clearfix format-quote has-post-thumbnail hentry">
                        <blockquote>
                            <p>
                                Mauris eu risus id massa ullamcorper ullamcorper sed vel
                                nibh. Duis fringilla ex in vestibulum luctus. In sed tincidunt nisl
                                vel condimentum nunc.
                            </p>
                        </blockquote>
                    </article>

                    <article class="post-item clearfix format-image has-post-thumbnail hentry">
                        <div class="post-thumbnail">
                            <a href="single.html"><img class="img-responsive" src="images/blog/4.jpg" alt="Post Thumb"></a>
                        </div>
                        <header class="entry-header">
                            <div class="entry-meta clearfix">
                                <div class="post-cat"><a href="#">nature</a></div>
                                <div class="post-author">
                                    <div class="author-info-wrap">
                                        <h4 class="author-title">Violet Whitson</h4>
                                        <span class="posted-on">October 12, 2016</span>
                                    </div>
                                    <img class="author-image" src="images/blog/a-1.jpg" alt="Peter Blalock">
                                </div>
                            </div>
                            <h2 class="entry-title"><a href="single.html" rel="bookmark">People Walking on Road</a></h2>
                        </header>
                        <div class="entry-summary clearfix">
                            <p>Sed gravida congue elit, ac vehicula ex facilisis ac. Etiam faucibus eros in eros rhoncus, id condimentum lacus semper. Pellentesque in ligula et leo fringilla maximus. Proin odio orci, mollis ut arcu vel, bibendum euismod mi. Nulla maximus feugiat lorem, vel mattis risus fermentum at. Nulla facilisi. Donec eget metus id massa iaculis porttitor non sed justo.</p>
                        </div>
                        <a href="single.html" class="btn btn-default single-post-link">Continue Reading <i class="fa fa-long-arrow-right"></i></a>
                        <span class="share-this-post">
                            Share this:
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-vimeo"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </span>
                    </article>

                    <nav class="pagination-nav">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><span>...</span></li>
                            <li><a href="#">6</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </main>
            </div>

            <!-- Sidebar -->
            <div class="col-md-3">
                <aside id="sidebar" class="sidebar">
                    <section class="widget widget_search">
                        <form method="get" class="search-form clearfix" action="#">
                            <input type="text" value="" name="s" placeholder="Search...">
                            <input type="submit" class="searchsubmit" value="">
                        </form>
                    </section>
                    <section class="widget widget_recent_posts">
                        <h2 class="widget-title">Recent Post</h2>
                        <ul>
                            <li>
                                <div class="post-thumb">
                                    <a href="#"><img src="images/widget/1.jpg" alt="#"></a>
                                </div>
                                <div class="post-content">
                                    <h3 class="post-title"><a href="#">Donec dictum, nisl in facilisis erat ex</a></h3>
                                    <span class="post-date">2 days ago</span>
                                </div>
                            </li>
                            <li>
                                <div class="post-thumb">
                                    <a href="#"><img src="images/widget/2.jpg" alt="#"></a>
                                </div>
                                <div class="post-content">
                                    <h3 class="post-title"><a href="#">Donec dictum, nisl in facilisis erat ex</a></h3>
                                    <span class="post-date">October 12, 2016</span>
                                </div>
                            </li>
                            <li>
                                <div class="post-thumb">
                                    <a href="#"><img src="images/widget/3.jpg" alt="#"></a>
                                </div>
                                <div class="post-content">
                                    <h3 class="post-title"><a href="#">Donec dictum, nisl in facilisis erat ex</a></h3>
                                    <span class="post-date">1 week ago</span>
                                </div>
                            </li>
                            <li>
                                <div class="post-thumb">
                                    <a href="#"><img src="images/widget/4.jpg" alt="#"></a>
                                </div>
                                <div class="post-content">
                                    <h3 class="post-title"><a href="#">Donec dictum, nisl in facilisis erat ex</a></h3>
                                    <span class="post-date">just now</span>
                                </div>
                            </li>
                            <li>
                                <div class="post-thumb">
                                    <a href="#"><img src="images/widget/5.jpg" alt="#"></a>
                                </div>
                                <div class="post-content">
                                    <h3 class="post-title"><a href="#">Donec dictum, nisl in facilisis erat ex</a></h3>
                                    <span class="post-date">1 month ago</span>
                                </div>
                            </li>
                        </ul>
                    </section>
                    <section class="widget widget_tag_cloud">
                        <h2 class="widget-title">Tags Widget</h2>
                        <div class="tagcloud">
                            <a href="#">Design Graphic</a>
                            <a href="#">Multi-Purpose</a>
                            <a href="#">Branding</a>
                            <a href="#">Working</a>
                            <a href="#">Logos</a>
                            <a href="#">ThemeForest</a>
                            <a href="#">Buildings</a>
                        </div>
                    </section>
                    <section class="widget newsletter_widget">
                        <h2 class="widget-title">Newsletter</h2>
                        <form action="#">
                            <input type="text" placeholder="Name">
                            <input type="email" placeholder="Email" required="">
                            <input type="submit" value="Send Message">
                        </form>
                    </section>
                    <section class="widget instargam_widget">
                        <h2 class="widget-title">Instagram</h2>
                        <ul class="instagram-list">
                            <li><a href=""><img src="images/instagram/1.jpg" alt="Instagram"></a></li>
                            <li><a href=""><img src="images/instagram/2.jpg" alt="Instagram"></a></li>
                            <li><a href=""><img src="images/instagram/3.jpg" alt="Instagram"></a></li>
                            <li><a href=""><img src="images/instagram/4.jpg" alt="Instagram"></a></li>
                            <li><a href=""><img src="images/instagram/5.jpg" alt="Instagram"></a></li>
                            <li><a href=""><img src="images/instagram/6.jpg" alt="Instagram"></a></li>
                        </ul>
                    </section>
                    <section class="widget widget_text">
                        <h2 class="widget-title">Recommended</h2>
                        <div class="textwidget">
                            <div class="img-wrap">
                                <a href="#"><img src="images/widget/6.jpg" alt=""></a>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

    <!-- Call to Action -->
    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>Like what you see? Buy this theme now and try everything.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn" href="#">Buy Now</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer" class="footer">
        <div class="container">
            <aside class="row footer-widgets">
                <div class="widget-column col-sm-6 col-md-3">
                    <section class="widget widget_text">
                        <h2 class="widget-title">&nbsp;</h2>
                        <div class="textwidget">
                            <div class="footer-logo-widget">
                                <a href="index.html"><img src="images/footer-logo.png" alt=""></a>
                                <p>Integer fermentum trique velit a lacinia.</p>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="widget-column col-sm-6 col-md-3">
                    <section class="widget widget_nav_menu">
                        <h2 class="widget-title">Quick Links</h2>
                        <ul>
                            <li><a href="#">Speciality Services</a></li>
                            <li><a href="#">Sredit Cars</a></li>
                            <li><a href="#">Support Forums</a></li>
                            <li><a href="#">Faqs</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                            <li><a href="#">Financial Planner</a></li>
                            <li><a href="#">Tax Helper</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </section>
                </div>

                <div class="clearfix visible-sm"></div>

                <div class="widget-column col-sm-6 col-md-3">
                    <section class="widget widget_featured_posts">
                        <h2 class="widget-title">Feature Blogs</h2>
                        <ul>
                            <li>
                                <div class="post-thumb">
                                    <a href="#"><img src="images/widget/f-1.jpg" alt="#"></a>
                                </div>
                                <div class="post-content">
                                    <h3 class="post-title"><a href="#">Women Work in Office</a></h3>
                                    <span class="post-date">18 Dec 2017</span>
                                </div>
                            </li>
                            <li>
                                <div class="post-thumb">
                                    <a href="#"><img src="images/widget/f-2.jpg" alt="#"></a>
                                </div>
                                <div class="post-content">
                                    <h3 class="post-title"><a href="#">Women Work in Office</a></h3>
                                    <span class="post-date">18 Dec 2017</span>
                                </div>
                            </li>
                            <li>
                                <div class="post-thumb">
                                    <a href="#"><img src="images/widget/f-3.jpg" alt="#"></a>
                                </div>
                                <div class="post-content">
                                    <h3 class="post-title"><a href="#">Women Work in Office</a></h3>
                                    <span class="post-date">18 Dec 2017</span>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>

                <div class="widget-column col-sm-6 col-md-3">
                    <section class="widget widget_twitter">
                        <h2 class="widget-title">Latest Tweets</h2>
                        <ul>
                            <li>
                                <p>
                                    <a href="#">@Antarctica,</a> Lorem ipsum dolor Sit amet consectetur
                                    <span class="tweet-time">2 hours ago</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="#">@Antarctica,</a> Lorem ipsum dolor Sit amet consectetur
                                    <span class="tweet-time">2 hours ago</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="#">@Antarctica,</a> Lorem ipsum dolor Sit amet consectetur
                                    <span class="tweet-time">2 hours ago</span>
                                </p>
                            </li>
                        </ul>
                    </section>
                </div>
            </aside>
        </div>

        <div class="sub-footer text-center">
            <div class="container">
                <p>Copyright &copy; 2017.Company name All rights reserved.</p>
            </div>
        </div>
    </footer>
</div>

<!-- Required Plugins and Scripts -->
<script src="../static/plugin/jquery-3.1.1.min.js"></script>
<script src="../static/plugin/jquery-migrate.min.js"></script>
<script src="plugin/bootstrap/bootstrap.min.js"></script>
<script src="../static/plugin/flexslider/jquery.flexslider-min.js"></script>
<script src="../static/plugin/owl.carousel/owl.carousel.min.js"></script>
<script src="../static/plugin/jquery-countTo/jquery.countTo.js"></script>
<script src="plugin/slicknav/jquery.slicknav.min.js"></script>
<script src="../static/js/common.js"></script>
</body>
</html>
